html {
  height: 100%;
  width: 100%;
}

.btn-software {
  text-align: center;
  display: inline-block;
  background-color: #7CCDD2;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-software:hover {
  background-color: #199596;
}

.button-container {
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.btn-form {
  text-align: center;
  background-color: #7CCDD2;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  
}

.btn-form:hover {
  background-color: #199596;
}