html {
  height: 100%;
  width: 100%;
}

.btn-software {
  text-align: center;
  display: inline-block;
  background-color: #7CCDD2;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-software:hover {
  background-color: #199596;
}